@model SiteAdminNavigation

@{
    ViewBag.Title = "导航菜单管理";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>导航菜单管理</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("返回列表", "Index")
            </li>
            <li class="active">
                <strong>导航菜单管理</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("返回列表", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>导航菜单管理 /h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
@Html.LabelFor(model => model.ParentId, new { @class = "control-label col-md-2" })
@Html.EditorFor(model => model.ParentId)
@Html.ValidationMessageFor(model => model.ParentId)
@Html.LabelFor(model => model.Text, new { @class = "control-label col-md-2" })
@Html.EditorFor(model => model.Text)
@Html.ValidationMessageFor(model => model.Text)
@Html.LabelFor(model => model.Href, new { @class = "control-label col-md-2" })
@Html.EditorFor(model => model.Href)
@Html.ValidationMessageFor(model => model.Href)
@Html.LabelFor(model => model.IconCls, new { @class = "control-label col-md-2" })
@Html.EditorFor(model => model.IconCls)
@Html.ValidationMessageFor(model => model.IconCls)
@Html.LabelFor(model => model.TextCls, new { @class = "control-label col-md-2" })
@Html.EditorFor(model => model.TextCls)
@Html.ValidationMessageFor(model => model.TextCls)
@Html.LabelFor(model => model.IsShowBadge, new { @class = "control-label col-md-2" })
@Html.EditorFor(model => model.IsShowBadge)
@Html.ValidationMessageFor(model => model.IsShowBadge)
@Html.LabelFor(model => model.MenuBadgeType, new { @class = "control-label col-md-2" })
@Html.EditorFor(model => model.MenuBadgeType)
@Html.ValidationMessageFor(model => model.MenuBadgeType)
@Html.LabelFor(model => model.BadgeRequestUrl, new { @class = "control-label col-md-2" })
@Html.EditorFor(model => model.BadgeRequestUrl)
@Html.ValidationMessageFor(model => model.BadgeRequestUrl)
@Html.LabelFor(model => model.PlusId, new { @class = "control-label col-md-2" })
@Html.EditorFor(model => model.PlusId)
@Html.ValidationMessageFor(model => model.PlusId)
@Html.LabelFor(model => model.SortNo, new { @class = "control-label col-md-2" })
@Html.EditorFor(model => model.SortNo)
@Html.ValidationMessageFor(model => model.SortNo)
@Html.LabelFor(model => model.Id, new { @class = "control-label col-md-2" })
@Html.EditorFor(model => model.Id)
@Html.ValidationMessageFor(model => model.Id)
@Html.LabelFor(model => model.CreateTime, new { @class = "control-label col-md-2" })
@Html.EditorFor(model => model.CreateTime)
@Html.ValidationMessageFor(model => model.CreateTime)
@Html.LabelFor(model => model.UpdateTime, new { @class = "control-label col-md-2" })
@Html.EditorFor(model => model.UpdateTime)
@Html.ValidationMessageFor(model => model.UpdateTime)
@Html.LabelFor(model => model.Deleted, new { @class = "control-label col-md-2" })
@Html.EditorFor(model => model.Deleted)
@Html.ValidationMessageFor(model => model.Deleted)
@Html.LabelFor(model => model.CreateBy, new { @class = "control-label col-md-2" })
@Html.EditorFor(model => model.CreateBy)
@Html.ValidationMessageFor(model => model.CreateBy)
@Html.LabelFor(model => model.UpdateBy, new { @class = "control-label col-md-2" })
@Html.EditorFor(model => model.UpdateBy)
@Html.ValidationMessageFor(model => model.UpdateBy)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
				@Html.ActionLink("取消", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}

                </div>
            </div>
        </div>
    </div>
 </div>

 

@section Scripts {
    
}
