@model Magicodes.Admin.SiteAdminNavigation

@{
    ViewBag.Title = "Edit";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Edit</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Edit</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Edit SiteAdminNavigation</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.ParentId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ParentId)
                @Html.ValidationMessageFor(model => model.ParentId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Text, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Text)
                @Html.ValidationMessageFor(model => model.Text)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Href, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Href)
                @Html.ValidationMessageFor(model => model.Href)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IconCls, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IconCls)
                @Html.ValidationMessageFor(model => model.IconCls)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TextCls, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TextCls)
                @Html.ValidationMessageFor(model => model.TextCls)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsShowBadge, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsShowBadge)
                @Html.ValidationMessageFor(model => model.IsShowBadge)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MenuBadgeType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MenuBadgeType)
                @Html.ValidationMessageFor(model => model.MenuBadgeType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BadgeRequestUrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BadgeRequestUrl)
                @Html.ValidationMessageFor(model => model.BadgeRequestUrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PlusId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PlusId)
                @Html.ValidationMessageFor(model => model.PlusId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SortNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SortNo)
                @Html.ValidationMessageFor(model => model.SortNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateTime)
                @Html.ValidationMessageFor(model => model.CreateTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UpdateTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UpdateTime)
                @Html.ValidationMessageFor(model => model.UpdateTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Deleted, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Deleted)
                @Html.ValidationMessageFor(model => model.Deleted)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateBy)
                @Html.ValidationMessageFor(model => model.CreateBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UpdateBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UpdateBy)
                @Html.ValidationMessageFor(model => model.UpdateBy)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
				@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}


                </div>
            </div>
        </div>
    </div>
 </div>



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
