<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magicodes.NET | @ViewBag.Title</title>
    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <!-- Primary Inspinia style -->
    @Styles.Render("~/fonts/font-awesome/css/font-awesome.min.css")
    @Styles.Render("~/bundles/Content/css")
    <style type="text/css">
        table.table th {
            white-space: nowrap;
        }

        .ibox-content {
            overflow-x: scroll;
        }

        .ibox-title {
            padding: 10px 15px 7px;
            height: 50px;
        }
    </style>
</head>
<body>

    <!-- Skin configuration box -->
    @*@Html.Partial("_SkinConfig")*@

    <!-- Wrapper-->
    <!-- PageClass give you ability to specify custom style for specific view based on action -->
    <div id="wrapper" class="@Html.PageClass()">

        @if (!IsSectionDefined("Navigation"))
        {
            <!-- Navigation -->
            @Html.Partial("_Navigation")
        }
        else
        {
            @RenderSection("Navigation", required: false)
        }
        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">

            <!-- Top Navbar -->
            @Html.Partial("_TopNavbar")

            <!-- Main view  -->
            @RenderBody()

            <!-- Footer -->
            @Html.Partial("_Footer")

        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->
    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/plugins/slimScroll")
    @Scripts.Render("~/bundles/inspinia")

    <!-- Skin config script - only for demo purpose-->
    @Scripts.Render("~/bundles/skinConfig")

    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>
