@using System.Data;
@using System.Data.Entity;
@using System.Linq;
@using Magicodes.Core.Web.Utility
@using Magicodes.Admin.Models;
@{
    var db = new AdminContext();
    var menus = db.SiteAdminNavigations.Where(p => !p.Deleted).OrderBy(p => p.SortNo).ToList();
    var levelsCss = new string[] { "nav-second-level", "nav-third-level" };
}
@helper MenuList(List<SiteAdminNavigation> menus,List<SiteAdminNavigation> menuList, int levelIndex, string[] levelsCss)
{
    foreach (var item in menuList)
    {
        <li class="@Html.IsSelected(controller: "Dashboards")">
            @{
        var children = menus.Where(p => p.ParentId == item.Id).ToList();
        var level = levelIndex;
            }
            <a href="@item.Href">
                <i class="@item.IconCls"></i> <span class="nav-label">@item.Text</span>
                @if (children.Count() > 0)
                {
                    <span class="fa arrow"></span>
                }
            </a>

            @if (children.Count() > 0)
            {
                <ul class="nav @levelsCss[level]">
                    @MenuList(menus, children, level++, levelsCss);
                </ul>
            }
        </li>
    }
}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="@Html.GetImageSrc("~/Images/profile_small.png")" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">@(User.Identity.GetUserDisplayName<string>())</strong>
                            </span> <span class="text-muted text-xs block">系统管理员 <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="/admin/Profile">个人主页</a></li>
                        <li><a href="/admin/Contacts">通讯录</a></li>
                        <li><a href="/admin/Mailbox">收件箱</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">退出登录</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            @MenuList(menus, menus.Where(p => p.ParentId == null).ToList(), 0, levelsCss);
        </ul>

    </div>

</nav>