@using StackExchange.Profiling;
@{
    var SiteInfo = Magicodes.Web.Interfaces.GlobalApplicationObject.Current.ApplicationContext.ConfigManager.GetConfig<Magicodes.Web.Interfaces.Config.Info.SiteConfigInfo>();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title--移动版</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="@SiteInfo.SEOKeyword" />
    <meta name="description" content="@SiteInfo.SEODescription" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta property="qc:admins" content="55612520571374536654" />
    <link rel="alternate icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/magicodes-home.css">
</head>
<body class="m-home">
    <div class="topbar">
        <img class="topbar-logo" src="/img/logo-l.png" alt="Magicodes.NET" height="20">
        <span class="title text-center">Magicodes.NET</span>
        <button class="top-menu-button-r pull-right">
            <i class="fa fa-navicon fa-fw"></i>
        </button>
        <button class="top-user-button-r pull-right">
            <i class="fa fa-user fa-fw"></i>
        </button>
        <ul class="top-menu-list">
            <li>
                <i class="fa fa-home fa-fw"></i>
                <a href="/">首页</a>
            </li>
            @*<li>
                    <i class="fa fa-star fa-fw"></i>
                    <a href="/home/start">开始使用</a>
                </li>*@
            @*<li>
                    <i class="fa fa-flag fa-fw"></i>
                    <a href="/home/VersionHistory">版本历史</a>
                </li>*@
            <li>
                <i class="fa fa-code fa-fw"></i>
                <a href="https://worktile.com/project/4a961c1c28cf4b07bdb4a07f661c7fcf/folder/b99d13f90d55401faba366a961e6d103" target="_blank">文档</a>
            </li>
            <li>
                <i class="fa fa-edit fa-fw"></i>
                <a href="http://www.cnblogs.com/codelove/" target="_blank">官方博客</a>
            </li>
            <li class="dropdown">
                <i class="fa fa-users fa-fw"></i>
                <a id="dLabel" data-target="#" href="https://github.com/magicodes/Magicodes.NET/issues" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    社区
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li>
                        <a href="https://github.com/magicodes/Magicodes.NET/issues?q=is%3Aopen+is%3Aissue+label%3AFAQ" target="_blank">
                            <i class="fa fa-comments-o fa-fw"></i>
                            FAQ
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/magicodes/Magicodes.NET/issues" target="_blank">
                            <i class="fa fa-meh-o fa-fw"></i>
                            反馈
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <i class="fa fa-university"></i>
                <a href="/home/Contact">加入我们</a>
            </li>
            <li>
                <i class="fa fa-dollar fa-fw"></i>
                <a href="javascript:void(0)" onclick="$('#dinggou').submit();">赞助</a>
                <form action="https://shenghuo.alipay.com/send/payment/fill.htm" accept-charset="gbk" id="dinggou" method="post" name="dinggou" target="_blank">
                    <input name="optEmail" type="hidden" value="codelove1314@live.cn" /> <input name="memo" type="hidden" value="小哥，写的不错，大爷赏你的" /> <input id="payAmount" name="payAmount" type="hidden" value="30" /> <input id="title" name="title" type="hidden" value="打赏" />
                </form>
                @*<a href="http://shop113059108.taobao.com/shop/view_shop.htm?spm=a1z0e.1.10010.4.jsfP12">赞助</a>*@
            </li>
        </ul>
        <ul class="top-user-menu pull-right">
            @Html.Partial("_LoginPartial")
        </ul>
    </div>
    @RenderBody()
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>关于我们</h2>
                    <p>
                        <i class="fa fa-users"></i>
                        <a href="#">团队成员介绍</a>
                    </p>
                    <p>
                        Magicodes.NET团队是一群代码爱好者组成的团队，是一个崇尚开源的团队。开源，是我们的理念。同时，我们也希望大家也能贡献自己的插件源码，让我们一起前行。
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>参与讨论</h2>
                    <p>
                        <i class="fa fa-qq fa-fw"></i>.NET技术交流1群
                        <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=4c998913f2aec27dfcfabaf075377d699b415c79a5ee4dd759ecc49469bb0055">
                            <img src="http://pub.idqqimg.com/wpa/images/group.png" alt=".NET交流1（.NET）" title=".NET交流1（.NET）">
                        </a>
                    </p>
                    <p>
                        <i class="fa fa-envelope-o fa-fw"></i>官方邮箱：<a href="mailto:">liwq<i class="fa fa-at"></i>magicodes.net</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>版权协议</h2>
                    <p>
                        <i class="fa fa-file fa-fw"></i>
                        框架使用协议
                        <a href="/Home/License" target="_blank">Magicodes.NET License</a>
                    </p>
                    <p>
                        <i class="fa fa-file fa-fw"></i>
                        代码开源协议
                        <a href="http://www.gnu.org/licenses/gpl.html" target="_blank">GNU GPL v3</a>
                    </p>
                    <p>
                        <i class="fa fa-file fa-fw"></i>
                        文档开源协议
                        <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0 </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/magicodes-home.js"></script>
    @RenderSection("Scripts", false)
    @MiniProfiler.RenderIncludes()
    <div class="footer-sole">
        2014&nbsp;Magicodes.NET团队
        <script type="text/javascript">
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F1e2bac9de51e2c8f3a95fd9eda7a87b9' type='text/javascript'%3E%3C/script%3E"));
        </script>
    </div>
</body>
</html>
