@section HeaderScripts {
    <script type="text/javascript">
        require(["jq.easy-pie-chart"], function () {
            $(function () {
                $('.easy-pie-chart.percentage').each(function () {
                    var $box = $(this).closest('.infobox');
                    var barColor = $(this).data('color') || (!$box.hasClass('infobox-dark') ? $box.css('color') : 'rgba(255,255,255,0.95)');
                    var trackColor = barColor == 'rgba(255,255,255,0.95)' ? 'rgba(255,255,255,0.25)' : '#E2E2E2';
                    var size = parseInt($(this).data('size')) || 50;
                    $(this).easyPieChart({
                        barColor: barColor,
                        trackColor: trackColor,
                        scaleColor: false,
                        lineCap: 'butt',
                        lineWidth: parseInt(size / 10),
                        animate: /msie\s*(8|7|6)/.test(navigator.userAgent.toLowerCase()) ? false : 1000,
                        size: size
                    });
                })
            });
        });
    </script>
}
<form>
    <div class="main-container" id="main-container">
        <div>
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 widget-container-col ui-sortable">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class=" widget-box">
                                    <div class="widget-header widget-header-flat widget-header-small">
                                        <h5 class="widget-title">
                                            <i class="ace-icon fa fa-signal"></i>
                                            磁盘监控
                                        </h5>
                                    </div>

                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <div class="space-6"></div>
                                            <div class="infobox-container">
                                                @foreach (var d in ViewBag.Drives)
                                                {
                                                    <div class="infobox infobox-blue2">
                                                        <div class="infobox-progress">
                                                            <div class="easy-pie-chart percentage" data-percent="@Math.Round(((double)d.TotalFreeSpace / d.TotalSize) * 100)" data-size="46" style="height: 46px; width: 46px; line-height: 45px;">
                                                                <span class="percent">@Math.Round(((double)d.TotalFreeSpace / d.TotalSize) * 100)</span>%
                                                                <canvas height="50" width="50" style="height: 46px; width: 46px;"></canvas>
                                                            </div>
                                                        </div>

                                                        <div class="infobox-data">
                                                            <span class="infobox-text">@d.Name</span>

                                                            <div class="infobox-content">
                                                                <span class="bigger-110">~</span>
                                                                剩余 @(d.TotalFreeSpace / (1024 * 1024 * 1024))(@(d.TotalSize / (1024 * 1024 * 1024)))GB
                                                            </div>
                                                        </div>
                                                    </div>
                                                }

                                            </div>
                                        </div><!-- /.widget-main -->
                                    </div><!-- /.widget-body -->
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                    <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
                </a>
            </div>
        </div>
    </div>
</form>