@using StackExchange.Profiling;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    @Styles.Render("~/Content/ace")
    <!--[if lte IE 9]>
        <link rel="stylesheet" href="/Scripts/ace/css/ace-part2.css" class="ace-main-stylesheet" />
        <![endif]-->
    <!--[if lte IE 9]>
      <link rel="stylesheet" href="/Scripts/ace/css/ace-ie.css" />
    <![endif]-->
    <script src="/Scripts/ace/js/ace-extra.js"></script>
    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    <script src="/Scripts/ace/js/html5shiv.js"></script>
    <script src="/Scripts/ace/js/respond.js"></script>
    <![endif]-->
    <script src="/scripts/require.js"></script>
    <script src="/scripts/config.min.js"></script>
    <!--[if !IE]> -->
    <script src="/Scripts/ace/js/jquery.js"></script>
    <!-- <![endif]-->
    <!--[if IE]>
    <script src="/Scripts/ace/js/jquery1x.js"></script>
    <![endif]-->
    @*<script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='/Scripts/ace/js/jquery.mobile.custom.js'>" + "<" + "/script>");
    </script>*@
    <script src="/Scripts/ace/js/bootstrap.js"></script>

    <!-- page specific plugin scripts -->
    <!--[if lte IE 8]>
      <script src="/Scripts/ace/js/excanvas.js"></script>
    <![endif]-->
    @*<script src="/Scripts/ace/js/jquery-ui.custom.js"></script>
        <script src="/Scripts/ace/js/jquery.ui.touch-punch.js"></script>*@

    <script src="/Scripts/ace/js/ace-elements.js"></script>
    <script src="/Scripts/ace/js/ace.js"></script>

    @RenderSection("HeaderScripts", required: false)
</head>
<body class="no-skin">
    @RenderBody();
    @RenderSection("FootScripts", required: false)
    @RenderSection("Scripts", required: false)
    
    @MiniProfiler.RenderIncludes()


</body>
</html>
