@model Magicodes.Mvc.Default.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>使用其他服务登录。</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>
                未配置外部身份验证服务。请参见Magicodes.NET官网文档，以详细了解如何配置外部服务登录。
            </p>
        </div>
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        if (@p.Caption == "QQ账号")
                        {
                            <button type="submit" class="btn btn-primary" onclick="javascript:document.getElementById('qqLogin').click();">
                                <i class="fa fa-qq"></i>
                                QQ登录
                            </button>
                            <button style="display:none;" id="qqLogin" type="submit" class="am-btn am-btn-secondary am-btn-sm" name="provider" value="@p.AuthenticationType" title="使用你的 @p.Caption 帐户登录">@p.Caption</button>
                        }
                        else if (@p.Caption == "Microsoft")
                        {
                            <button type="submit" class="btn btn-primary" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="使用你的 @p.AuthenticationType 帐户登录">
                                <i class="fa fa-windows"></i>
                                Microsoft账户登录
                            </button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="使用你的 @p.Caption 帐户登录">@p.Caption</button>
                        }
                    }
                </p>
            </div>
        }
    }
}
