@model Magicodes.Mvc.Default.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "忘记密码?";
}
<div class="am-g" style="margin-top:80px;">
    <div class="col-lg-6 col-md-8 col-sm-centered">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "am-form", role = "form" }))
        {
            <h2>@ViewBag.Title</h2>
            @Html.AntiForgeryToken()
            <h4>输入你的电子邮件。</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "" })
            @Html.LabelFor(m => m.Email, new { @class = "" })
            @Html.TextBoxFor(m => m.Email, new { @class = "" })
            <br />
            <div class="am-cf">
                <input type="submit" name="" value="发送电子邮件链接" class="am-btn am-btn-primary am-btn-sm am-fl">
            </div>
            <br />
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
