@model Magicodes.Mvc.Default.Models.RegisterViewModel
@{
    ViewBag.Title = "注册 | Magicodes.NET";

}
<div class="m-page-title">
    <h1>
        @ViewBag.Title<br>
        <small></small>
    </h1>
</div>
<div class="m-page-main">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-small", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "" })

        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.UserNickName, new { @class = "" })
            @Html.TextBoxFor(m => m.UserNickName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserNickName, "", new { @class = "" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "" })
        </div>
        <div>
            <button type="submit" class="btn btn-primary btn-lg btn-block" id="RegisterButton">注册</button>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

